<script lang="ts" setup>
import { ref } from 'vue';
import { useMemberStore } from '@/stores/member';
import { useReceiptStore } from '@/stores/receipt';



const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
function onClick() {
    console.log("clicked")
    memberStore.searchMember(memberStore.tel)
}
const tab = ref(null)




</script>
<template>
    <v-card color="rgba(114, 87, 42, 1)">
        <v-tabs v-model="tab" bg-color="rgba(75, 56, 42, 1)">
            <v-tab value="Member">Member</v-tab>
            <v-tab value="Promotion">Promotion</v-tab>
        </v-tabs>

        <v-card-text>
            <v-window v-model="tab">
                <v-window-item value="Member">
                    <v-container>
                        <v-row>
                            <v-col>
                                <v-row>
                                    <v-responsive class="mx-auto" max-width="344">
                                        <v-text-field type="input" v-model="memberStore.tel" density="compact"
                                            variant="solo" clearable prepend-inner-icon="mdi-magnify"
                                            label="Member's phone number" hint="Search member by Tel"
                                            @click:prepend-inner="onClick" @keyup.enter="onClick"></v-text-field>
                                    </v-responsive>
                                </v-row>

                                <v-row>
                                    <v-col cols="4" class="pe-4" lg="4" md="12"> Name: {{ memberStore.currentMember
                                        ?
                                        memberStore.currentMember?.name :
                                        '"not found"'
                                    }}</v-col>
                                    <v-col cols="4" class="pe-4" lg="4" md="12">Member's Id: {{ memberStore.currentMember ?
                                        memberStore.currentMember?.id :
                                        '-'
                                    }}</v-col>
                                    <v-col cols="4" class="pe-10 " lg="4" md="12">Point: {{ memberStore.currentMember ?
                                        memberStore.currentMember?.point :
                                        '-'
                                    }}</v-col>
                                </v-row>

                            </v-col>
                            <v-col>
                                <v-row><v-btn prepend-icon="mdi-account-multiple-plus" elevation="10">Add New Member
                                        <!-- add new member dialog -->

                                        <v-dialog v-model="memberStore.addNewMemberDialog" persistent activator="parent"
                                            width="auto">

                                            <v-card color="rgba(114, 87, 42, 1)" min-width="400pt">
                                                <v-container>
                                                    <v-row>
                                                        <v-card-title>
                                                            <v-icon icon="mdi-account-multiple-plus"></v-icon>
                                                            Add New Member
                                                        </v-card-title>
                                                    </v-row>
                                                </v-container>
                                                <v-card-text>
                                                    <v-container>
                                                        <v-row>
                                                            <v-col cols="auto" md="12">
                                                                Member's Name
                                                                <v-text-field clearable label="Name" variant="outlined"
                                                                    v-model="memberStore.editedMember.name"></v-text-field>
                                                            </v-col>
                                                            <v-col cols="auto" md="12">
                                                                Member's Phone
                                                                <v-text-field clearable label="Telephone Number"
                                                                    variant="outlined"
                                                                    v-model="memberStore.editedMember.tel"></v-text-field>
                                                            </v-col>

                                                            <v-col cols="auto" md="12">
                                                                Member's Point
                                                                <v-text-field clearable label="Point" variant="outlined"
                                                                    v-model="memberStore.editedMember.point"></v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                    </v-container>
                                                </v-card-text>
                                                <v-card-actions>
                                                    <v-container>
                                                        <v-row>
                                                            <v-col><v-btn color="white" @click="memberStore.cancel()"
                                                                    elevation="4" block rounded="lg"
                                                                    variant="outlined">Cancel
                                                                </v-btn></v-col>
                                                            <v-col><v-btn color="white" @click="memberStore.save"
                                                                    elevation="4" block rounded="lg" variant="outlined">Save
                                                                </v-btn>
                                                            </v-col>
                                                        </v-row>
                                                    </v-container>

                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>
                                    </v-btn></v-row>
                                <v-row class="py-6">
                                    <v-btn prepend-icon="mdi-account-multiple-plus">usepoint</v-btn>

                                </v-row>
                            </v-col>

                        </v-row>

                    </v-container>


                </v-window-item>

                <v-window-item value="Promotion">

                </v-window-item>

            </v-window>
        </v-card-text>
    </v-card>
</template>