<script setup lang="ts">
import { ref } from 'vue';

import { useProductStore } from '@/stores/Product';
import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem';

import ProductList from '@/components/ProductList.vue'
import MemberCard from './MemberCard.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue';

import { useReceiptStore } from '@/stores/receipt';
import ReceiptCard from './ReceiptCard.vue';

const receiptStore = useReceiptStore()
const productStore = useProductStore()


const tab = ref(1)

const selected = (p: Product) => {
  console.log('ProductView ' + p)
  receiptStore.addReceiptItem(p)
  if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
}
const divReceiptItems = ref<HTMLElement | null>(null)
</script>

<template>
  <v-container fluid>
    <v-row>
      <!-- Left Col -->
      <v-col cols="12" md="6" style="background-color: rgba(114, 87, 42, 1)">
        <v-sheet min-width="300" max-width="800" min-height="700" max-height="1000" elevation="6" color="rgba(175, 144, 93, 1)">
          <v-tabs v-model="tab" color="yellow" align-tabs="center" bg-color="rgba(75, 56, 42, 1)">
            <v-tab :value="1">Drinks</v-tab>
            <v-tab :value="2">Beverage</v-tab>
            <v-tab :value="3">Foods</v-tab>
          </v-tabs>

          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="productStore.products1" @selected-product="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="2">
              <ProductList :products="productStore.products2" @selected-product="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="3">
              <ProductList :products="productStore.products3" @selected-product="selected"></ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>

      <!-- Right Col -->
      <v-col cols="12" md="6" style="background-color: rgba(116, 69, 34, 1)">
        <v-container style="padding: 0">
          <v-row dense :gutter="8">
            <!-- Show Order -->
            <v-col cols="12">
              <div ref="divReceiptItems" style="height: 300; overflow: auto">
                <v-sheet min-width="300" max-width="800" height="300" elevation="6">
                  <ReceiptDetailTable />
                </v-sheet>
              </div>
            </v-col>
            <!-- Show Member -->
            <v-col cols="12">
              <v-sheet min-width="300" max-width="800" max-height="300" elevation="3" color="rgba(114, 87, 42, 1)">
                <MemberCard />
              </v-sheet>
            </v-col>
            <!-- Show Total Amount -->
            <v-col cols="12">
              <v-sheet min-width="300" max-width="800" height="150" elevation="3" color="rgba(180, 143, 81, 1)">
                <ReceiptCard />
              </v-sheet>
            </v-col>
            <!-- Show Button -->
            <v-col cols="12">
              <v-sheet min-width="300" max-width="800" height="80" elevation="3"></v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
