<script setup lang="ts">
import { inject, type Ref } from 'vue'

const rail = inject<Ref<boolean>>('rail')
</script>

<template>
  <v-app-bar color="#744522" >

    <template v-slot:prepend>
      <v-app-bar-nav-icon @click.stop="rail = !rail"></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title>Title</v-app-bar-title>

    <v-spacer></v-spacer>
  </v-app-bar>
</template>
