<script setup lang="ts">
import StockView from './StockView.vue';

</script>

<template>
    <v-row justify="center">
        <v-dialog  persistent width="1000px" height="1000px">
            <v-card>
                <v-card-title class="text-h5 text-center">
                    Check Stock
                </v-card-title>
            </v-card>
        </v-dialog>
    </v-row>
</template>