<script setup lang="ts">
import { computed, onMounted, reactive, watch } from 'vue';
import { nextTick, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import CheckStockDialog from './CheckStockDialog.vue';
import { useMaterialStore } from '@/stores/Material';

const Material = useMaterialStore()
</script>

<template>
  <div>
    <v-container>
      <v-row>
        <v-col><v-card height="120px" style="background-color: #3C94E5; text-align: center;" class="text-h2"><v-card-title style="text-align: left;">Total Product</v-card-title>{{ Material.totalMaterials }}</v-card></v-col>
        <v-col><v-card height="120px" style="background-color: #5EB966; text-align: center;" class="text-h2"><v-card-title style="text-align: left;">Available</v-card-title>{{ Material.totalAvailableMaterials }}</v-card></v-col>
        <v-col><v-card height="120px" style="background-color: #F4A833; text-align: center;" class="text-h2"><v-card-title style="text-align: left;">Low Stock</v-card-title>{{ Material.totalLowMaterials }}</v-card></v-col>
        <v-col><v-card height="120px" style="background-color: #E94344; text-align: center;" class="text-h2"><v-card-title style="text-align: left;">Out of Stock</v-card-title>{{ Material.totalOutMaterials }}</v-card></v-col>
      </v-row>
    </v-container>
    <v-data-table :headers="Material.headers" :items="Material.combinedMaterials" class="custom-datatable">
      <template v-slot:top>
        <v-toolbar style="background-color: #4B382A; height: auto;" dark flat>
            <v-toolbar-title style="color: white;">
            <v-text-field class="mr-4" prepend-inner-icon="mdi-magnify" v-model="Material.search" label="Search" style="height: 60px; margin-top: 4px;"></v-text-field>
          </v-toolbar-title>
          <v-divider class="mr-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <!-- Put Edited  Dialog -->
          <v-dialog v-model="Material.dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn @click="CheckStockDialog" style="background-color: white; margin-right: 16px;">
                Check Stock
              </v-btn>
              <!-- <v-btn style="background-color: white; margin-right: 16px;">
                Buy Stock
              </v-btn> -->
              <v-btn style="background-color: white; margin-right: 16px;" v-bind="props">
                New material
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Material Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="Material.form" @submit.prevent="Material.onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field v-model="Material.editedMaterial.name" :readonly="Material.loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Name"></v-text-field>
                      </v-col>

                      <v-col cols="6" sm="6">
                        <v-text-field v-model="Material.editedMaterial.min" :readonly="Material.loading"
                          :rules="[(v) => !!v || 'Field is required']" clearable label="Min"
                          placeholder="Enter your min"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="6">
                        <v-text-field v-model="Material.editedMaterial.balance" :readonly="Material.loading"
                          :rules="[(v) => !!v || 'Field is required']" clearable label="Balance"
                          placeholder="Enter your balance"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="6">
                        <v-combobox label="Unit" :items="['Kilogram', 'Gram', 'Liter', 'Milliliter', 'piece']"
                          v-model="Material.editedMaterial.unit" variant="solo-filled"></v-combobox>
                      </v-col>

                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="Material.closeDialog">
                  Close
                </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="Material.save()">
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Delete Dialog -->
          <v-dialog v-model="Material.dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="Material.closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="Material.deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="Material.editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon size="small" @click="Material.deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>

    </v-data-table>
  </div>
</template>
<style scoped>
.custom-datatable {
  background-color: #EFDAC3;
}
</style>
